Virtual DNS should trim the last dot in the domain name

For example, current domain name in proxy request is `www.foo.com.`, should be `www.foo.com`.

I know the dot in DNS query means root server, but the http proxy protocol message is not correct:
```
CONNECT www.foo.com.:443 HTTP/1.1
```

Is this a practical or a theoretical problem? I know most implementations do it differently, but implementing it that way was actually an informed decision.

> I know the dot in DNS query means root server, but the http proxy protocol message is not correct:
> 
> ```
> CONNECT www.foo.com.:443 HTTP/1.1
> ```

Although it may look a little unusual, you are factually wrong here.

From [Section 3.2.2 of RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2):

>    A host identified by a registered name is a sequence of characters
>    usually intended for lookup within a locally defined host or service
>    name registry, though the URI's scheme-specific semantics may require
>    that a specific registry (or fixed name table) be used instead.  The
>    most common name registry mechanism is the Domain Name System (DNS).
>    A registered name intended for lookup in the DNS uses the syntax
>    defined in [Section 3.5 of [RFC1034]](https://datatracker.ietf.org/doc/html/rfc1034#section-3.5) and [Section 2.1 of [RFC1123]](https://datatracker.ietf.org/doc/html/rfc1123#section-2.1).
>    Such a name consists of a sequence of domain labels separated by ".",
>    each domain label starting and ending with an alphanumeric character
>    and possibly also containing "-" characters.  The rightmost domain
>    label of a fully qualified domain name in DNS may be followed by a
>    single "." and should be if it is necessary to distinguish between
>    the complete domain name and some local domain.

In particular, the last sentence was decisive for this implementation choice.

From [Section 4.3.6 of RFC731](https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.6), the correctness follows:

> A client sending a CONNECT request MUST send the authority form of
>    request-target ([Section 5.3 of [RFC7230]](https://datatracker.ietf.org/doc/html/rfc7230#section-5.3)); i.e., the request-target
>    consists of only the host name and port number of the tunnel
>    destination, separated by a colon.  For example,
> 
>      CONNECT server.example.com:80 HTTP/1.1
>      Host: server.example.com:80

I am not usually a nitpicker on these kinds of things and I am willing to change the implementation if there is some practical problem because e.g. some popular software does not support this representation.

But IMO, the current choice is better, at least in theory, because it explicitly tells the proxy not to use a search domain (other than the root domain).

By default, the last dot is omitted when using a domain name. 

`CONNECT server.example.com:80 HTTP/1.1` 

Rather than 

`CONNECT server.example.com.:80 HTTP/1.1`

But the proxy message from this library is the second one. 

The Virtual DNS option only works with the socks5 protocol, not with proxy of http or https. Also, when we run a DNS query with `www.foo.com.` as the parameter, the DNS resolver will be able to return the correct result.

> The Virtual DNS option only works with the socks5 protocol, not with proxy of http or https. Also, when we run a DNS query with `www.foo.com.` as the parameter, the DNS resolver will be able to return the correct result.

I integrated this library on iOS, using the http protocol + virtual dns, and the overall functionality works. There are currently two issues I am dealing with:
1. Domain name issue, which is this.
2. In some cases, there will be crashes, but maybe not from this library. I am still investigating.

> 1. Domain name issue, which is this.

If this causes functional problems, the implementation of the proxy server is wrong and it should be fixed there. It may cause differences in behavior in edge cases where there is a search domain configured on the proxy and the name collides with a FQDN, but it should never result in a general functional problem. There are good reasons for (not) omitting the dot but a server not supporting a trailing dot in general is not really one of them.

However, I have adapted the behavior in b525d3f99e1c09350a5fb2ca5099bdb70ed60d6e.

Thanks for the fix. By the way, the crash seems to be a OOM issue, has nothing to do with this library.